extends layout

block content
  h1 File Upload
  form(method='POST' enctype='multipart/form-data' action='/upload')
    fieldset
        label(for='upload') Upload
        input(type='file' name='upload')
    fieldset
        label(for='title')
        input(name='title')
    input(type='submit' value='Submit')